<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KENYAN AIRLINES</title>

    <!--Load external stylesheet for the project-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <!--Load the stylesheets of the system-->    
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="img/logo.png" type="image/x-icon">

    
    <style>
        @media screen and (max-width: 600px) {
            .slider2{
                font-size: 15px;
                text-align: left;
                left: 14%;
            }  
        }
    </style>
</head>
<body>        
    <!-- Header-->
        <nav>
            <div class="image-container">
                <img src="img/logo.png" alt="logo">
            </div>

            <!--menu-->
            <div class="top-nav" id="myTopnav">
                <a href="#" class="active">Home</a>
                <a href="#">About us</a>
                <a href="#">Contacts</a>
            </div>
            
            <div class="hamburger" id="hamburger">
                <a href="#">About us</a>
                <button class="openbtn" onclick="openNav()">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </nav>

        <!--small screen menu-->
        <div id="mySidebar" class="vertical-menu">
            <div class="mobile-menu">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-solid fa-x"></i></a>
                <a href="#">HOME</a>
                <a href="#">ABOUT US</a>
                <a href="#">CONTACTS</a>
            </div>
        </div>
    <!--Header-->

  
    

